@model Web.Memberships.Models.HomeModel
@using Web.Memberships.Models;

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    @if (User.Identity.IsAuthenticated)
    {
        if (Model != null && Model.ThumbnailsArea != null && Model.ThumbnailsArea.Any())
        {
            foreach (var area in Model.ThumbnailsArea)
            {
                @Html.Partial("_SiteThumbnailAreaPartial", area)
            }
        }
    }
    else
    {
        @*left column*@
        <div class="col-lg-9 col-md-8 col-sm-7">
            <h2>I am not logged in</h2>
        </div>
        @*right column*@
        <div class="col-lg-3 col-md-4 col-sm-5">
            @Html.Partial("_SiteRegisterUserPartial", new RegisterUserModel() { ConfirmPassword = "", Password = "", Email = "", FirstName = "", LastName = "" })
        </div>
    }
</div>

@*Register Code Partial*@
<div class="row">
    <div class="col-sm-3 register-code-area">
        @Html.Partial("_SiteRegisterCodePartial")
    </div>
    <div class="col-sm-9">

    </div>
</div>

@*
    Register User 
    1. Set the registerUser and site home urls
    2. The click events are in the SiteRegisterUser.js file

    Register Subscription Via Code
    1. Set the the url to post the registeration code to
    2. The click event is in the SiteRegisterCode.js file
*@
@section scripts {
    <script>
    $(function (e) {
        //register user, receives an object
        registerUser.init({
            siteHomeUrl: '@Url.Action("Index", "Home", new { Area = "" })',
            registerUserUrl: '@Url.Action("RegisterUserAsync", "Account", new { Area = "" })'
        });

        //register subscription
        registerCode._registerCodeUrl = '@Url.Action("Register", "RegisterCode", new { Area = "" })';
    });
    </script>
}