@model Web.Memberships.Models.ThumbnailAreaModel

<div class="row">
    @if (!string.IsNullOrWhiteSpace(Model.Title))
    {
        <div class="headline">
            <h3>@Model.Title</h3>
        </div>
    }

    @if (Model.Thumbnails != null)
    {
        var url = "";
        foreach (var thumb in Model.Thumbnails)
        {
            url = Url.Action("Index", "ProductContent", new { Area = "", id = thumb.ProductId });
            <div class="col-sm-3">

                <div class="thumbnail">
                    
                    <div class="thumbnail-container">

                        <div class="thumbnail-img-container">
                            <img class="thumbnail-img" src="@thumb.ImageUrl" alt="" />
                        </div>

                        <a class="tag text-tag hover-effect" href="@url">@thumb.TagText</a>

                        <div class="tag content-tag">@thumb.ContentTag</div>

                    </div>

                    <div class="caption">
                        <h3><a href="@url">@thumb.Title</a></h3>
                        <p>@thumb.Description</p>
                    </div>

                </div>

            </div>
        }
    }
</div>
